<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id)">
        {{item.name}} {{item.id}}
    </ion-item>
    </ion-list>
    <div>
        Selected Printer: {{selectedPrinter}}
    </div>
    <ion-input type="text" placeholder="title" [(ngModel)]="receipt.title" [ngModelOptions]="{standalone: true}">
    </ion-input>
  
    <ion-input type="text" placeholder="customer" [(ngModel)]="receipt.customer" [ngModelOptions]="{standalone: true}">
    </ion-input>
    <ion-button expand="full" color="danger"  (click)="print()">
    PRINT!
    </ion-button>

</ion-content>
